<% include ./partials/header %>
<!-- <% posts.forEach(function(posts){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
           <h3><%= post.heading%>
           <div class="caption">
               <h4><%= post.desc%></h4> 
               the work desc stands for description it's what you will see in the part after the heading
           </div>
           <p>
                <% }); %>

 -->
 <% include ./partials/footer %>