<% include ./partials/header %>
    <body>
     <h3>This shall be the page where teachers can post new information they have gotten or can share anything they want to(teachers only)</h3>        
        <!-- <script src="" async defer></script> -->
    </body>
</html>

<% include ./partials/footer %>